nav {
  margin: 20px 0;
}
body {
  background-color: #eff5ff;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

nav a {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 6px;
  color: #007bff;
  text-decoration: none;
  background-color: white;
}

nav a:hover {
  background-color: #007bff;
  color: white;
}

.card {
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.nav-pills .nav-link {
  color: #0d6efd;
  font-weight: 600;
  border-radius: 20px;
}

.nav-pills .nav-link.active {
  background: #0d6efd;
  color: white;
}

.nav-pills .nav-link:hover {
  background: #3a85f5;
  color: white;
}

/* search-bar-for-table */
.search-bar {
    max-width: 500px;
    margin: auto auto;
    
}

.search-bar .input-group {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
    border: none;
    border-color: rgb(175, 168, 168);
    padding-left: 20px;
}

.search-bar .btn {
    border: none;
    padding: 10px 20px;
    background-color: #0d6efd;
}


/* calander */

.calendar {
  width: 100%;
  height: auto;
}

.week-days,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.week-days div {
  font-weight: 600;
  color: #1874fd;
  margin-bottom: 15px;
}

.days div {
  width: 22px;
  height: 22px;

  margin: auto;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;

  transition: 0.25s;
}

.days div:hover {
  background: grey;
  color: white;
}

.today {
  background: #1874fd;
  color: white;
  font-weight: bold;
}

.other-month {
  color: #bdbdbd;
}

.calendar-btn {
  border: none;
  background: none;
  font-size: 22px;
  color: #666;
}

.calendar-btn:hover {
  color: #9b59b6;
}
